<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" href="../public/images/favicon.png" type="image/x-icon">
<link rel="icon" href="../public/images/favicon.png" type="image/x-icon">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="XMAS_Lights">
<link rel="apple-touch-icon" href="../public/images/icon.png">
<title>XMAS LIGHTS</title>
<link rel="stylesheet" href="../public/css/style.css" />
</head>
<body oncontextmenu="return false;">
<div id="map"></div>
<img id="menubtn" src="../public/images/menu-icon.png" >

<div id="menu">
<div style="position:relative"><label id="title" >XMAS LIGHTS</label><img id="menuclosebtn" src="../public/images/close.png"></div>    
<div id="options" style="margin-top:10px">
<img id="register" src="../public/images/register.png"> 
<img id="search" src="../public/images/search.png"> 
<img id="event" src="../public/images/event.png">     
</div>
<div id="menudata"></div>    
</div>
<script src="../public/js/index.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_RsyAo4HyOMUAfpA-zsXIOXpIMMh7ey8&libraries=drawing,geometry,visualization&callback=initMap"
         async defer></script>  
</body>
</html>